body {
    margin: 0;
    color: #232e3f !important;
    font-family: GRAPHIK !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1440px !important;
    }
}
